div.first h2{
    color:blue;
}
h2{
    color: brown;
}
html{
    background-color: chartreuse;
}
body{
    color: darkgoldenrod;
}
div.first p:first-of-type { color: red; font-style: italic, bold; letter-spacing: 5px; }
div.first p{
    padding: 20px;
}
